<template name="houseItem">
  <div class="container">
  <div class="row">
  <div class="rentalZone">
    <h1 class="display-4">bid bab</h1>
    <img src="https://vignette.wikia.nocookie.net/spongebob/images/4/4c/TwoThumbsDown001.jpg/revision/latest?cb=20160318032120">
    <p class="lead">This is an example of a house that you can bid on!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role=button>Make a bid</a>
    </p>
    </div>

    <!--TODO Integrate Google Maps-->
  </div>
  </div>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</template>