<template name="jumbotron" >
    <div id="jumbotron-wrapper">
      <div id="jumbotron-arrow-wrapper">
        <div class="jumbotron-arrow" id="left-jumbtron-arrow"><span class="ion-chevron-left"></span></div>
        <div class="jumbotron-arrow" id="right-jumbotron-arrow"><span class="ion-chevron-right"></span></div>
      </div>
    </div>
        <div id="slides-wrapper">
          <div class="slide active">
           #1
        </div>
        <div class="slide">
          #2
      </div>
      <div class="slide">
        #3
      </div>
      </div>

</template>
